<%- include partials/header %>
<div class="container">
    <main role="main">
            <h1><%= title %></h1>
            <a href="/auth/register">Add New User</a>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="rowgroup">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Admin Level</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>

                    <% for (var i = 0; i < accounts.length; i++) { %>
                <tr>
                    <td><%= accounts[i].username %></td>
                    <td><%= accounts[i].name %></td>
                    <td><%= accounts[i].adminLevel %></td>
                    <td><button><a href="/accounts/delete/<%= accounts[i]._id %>" class="confirmation">DELETE</a></button></td>
                </tr>
                <% } %>

                   
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
          

                </tbody>
            </table>
    </main>
    <div class="sidebar">
    </div>
</div>
<%- include partials/footer %>
