<%- include partials/header %>
<div class="container">
    <h1>Admin</h1>
    <main role="main">
            <h1><%= title %></h1>
            <table>
                <thead>
                <tr>
                    <th scope="rowgroup">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Admin Level</th>
                </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < accounts.length; i++) { %>
                <tr>
                    <td><%= accounts[i].username %></td>
                    <td><%= accounts[i].name %></td>
                    <td><%= accounts[i].adminLevel %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
    </main>
    <div class="sidebar">
    </div>
</div>
<%- include partials/footer %>