<%- include partials/header %>
<div class="container">
    <main role="main">
            <h1><%= title %></h1>
           
            <table class="table table-striped">
                     
                    <a class ="new" href="/auth/register">Add New User</a><br><br>
                <thead>
                <tr>
                    <th scope="rowgroup">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Admin Level</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>

                    <% for (var i = 0; i < accounts.length; i++) { %>
                <tr>
                    <td><%= accounts[i].username %></td>
                    <td><%= accounts[i].name %></td>
                    <td><%= accounts[i].adminLevel %></td>
                    <td><button ><a id="deletetn" href="/accounts/delete/<%= accounts[i]._id %>" class="confirmation">DELETE</a></button></td>
                </tr>
                <% } %>

                   
               
                </tbody>
            </table>
    </main>
    <div class="sidebar">
    </div>
</div>
<br><br><br><br>
<%- include partials/footer %>
