<%- include partials/header %>
<div class="container">
<<<<<<< HEAD
    <h1>Admin</h1>
    <main role="main">
            <h1><%= title %></h1>
            <table>
=======
    <main role="main">
            <h1><%= title %></h1>
            <table class="table table-striped">
>>>>>>> 6c0e2a8bc5c19efd0435cbb9144aa4c105b20760
                <thead>
                <tr>
                    <th scope="rowgroup">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Admin Level</th>
                </tr>
                </thead>
                <tbody>
<<<<<<< HEAD
                    <% for (var i = 0; i < accounts.length; i++) { %>
                <tr>
                    <td><%= accounts[i].username %></td>
                    <td><%= accounts[i].name %></td>
                    <td><%= accounts[i].adminLevel %></td>
                </tr>
                <% } %>
=======
                   
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
          
>>>>>>> 6c0e2a8bc5c19efd0435cbb9144aa4c105b20760
                </tbody>
            </table>
    </main>
    <div class="sidebar">
    </div>
</div>
<%- include partials/footer %>