<%- include partials/header %>
<div class="container">
    <h1>Data</h1>
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Add Data</button>
            
    <main id="dataform" role="main">
        <section>
            <table class="table table-striped">
        		<thead>
        			<tr>
        				<th>Section #</th>
        				<th>density</th>
        				<th>zoning</th>
                        <th>connected streets</th>
        				<th>Edit</th>
        				<th>Delete</th>
        			</tr>
        		</thead>
        		<tbody>
        			<!--create a table row for each data section -->
        			<% for(var counter=0;counter<research.length;counter++){ %>
						<tr>
							<td><%= research[counter].section %></td>
							<td><%= research[counter].density %></td>
							<td><%= research[counter].zoning %></td>
                            <td><%= research[counter].streetConnection %></td>
							<td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>						<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
						</tr>
        			<% } %>
        		</tbody>
        	</table>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>sidewalks</th>
                        <th>sidewalk Width</th>
                        <th>sidewalk Buffer</th>
                        <th>sidewalk Ramps</th>
                        <th>sidewalk Condition</th>
                        <th>sidewalk Obstructions</th>
                        <th>sidewalk Snowfall</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].sidewalks %></td>
                            <td><%= research[counter].sidewalkWidth %></td>
                            <td><%= research[counter].sidewalkBuffer %></td>
                            <td><%= research[counter].sidewalkRamps %></td>
                            <td><%= research[counter].sidewalkCondition %></td>
                            <td><%= research[counter].sidewalkObstructions %></td>
                            <td><%= research[counter].sidewalkSnowfall %></td>
                          <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>crosswalks</th>
                        <th>crosswalk Symbols</th>
                        <th>cycling Lanes</th>
                        <th>cycling Lanes Nearest</th>
                        <th>Cycling Road Safe</th>
                        <th>cycling Lanes Connection</th>
                        <th>cycling Lanes Signage</th>
                        <th>cycling Lights Accessability</th>
                        <th>cycling Bike Racks</th>
                        <th>cycling Bus Bike Rack</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <table class="table table-striped">
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].crosswalks %></td>
                            <td><%= research[counter].crosswalkSymbols %></td>
                            <td><%= research[counter].cyclingLanes %></td>
                            <td><%= research[counter].cyclingLanesNearest %></td>
                            <td><%= research[counter].CyclingRoadSafe %></td>
                            <td><%= research[counter].cyclingLanesConnection %></td>
                            <td><%= research[counter].cyclingLanesSignage %></td>
                            <td><%= research[counter].cyclingLightsAccessability %></td>
                            <td><%= research[counter].cyclingBikeRacks %></td>
                            <td><%= research[counter].cyclingBusBikeRack %></td>
                      <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>road Traffic Flow</th>
                        <th>road Street Width</th>
                        <th>road On Street Parking</th>
                        <th>road Traffic Calming</th>
                        <th>road Vehicle Restrictions</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].roadTrafficFlow %></td>
                            <td><%= research[counter].roadStreetWidth %></td>
                            <td><%= research[counter].roadOnStreetParking %></td>
                            <td><%= research[counter].roadTrafficCalming %></td>
                            <td><%= research[counter].roadVehicleRestrictions %></td>
                          <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>trail Paths</th>
                        <th>trails Connection</th>
                        <th>trail Safety</th>
                        <th>trail Skateboard</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].trailPaths %></td>
                            <td><%= research[counter].trailsConnection %></td>
                            <td><%= research[counter].trailSafety %></td>
                            <td><%= research[counter].trailSkateboard %></td>
                        <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>transit Stops</th>
                        <th>transit ClosestStop</th>
                        <th>transit Shelters</th>
                        <th>transit RouteInfo</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].transitStops %></td>
                            <td><%= research[counter].transitClosestStop %></td>
                            <td><%= research[counter].transitShelters %></td>
                            <td><%= research[counter].transitRouteInfo %></td>
                        <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>safetyGeneralSafety</th>
                        <th>safetyVacantBuildings</th>
                        <th>safetyPersonsWatching</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].safetyGeneralSafety %></td>
                            <td><%= research[counter].safetyVacantBuildings %></td>
                            <td><%= research[counter].safetyPersonsWatching %></td>
                        <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>aestheticTrees</th>
                        <th>aestheticStreetLife</th>
                        <th>aestheticBuildingProximity</th>
                        <th>aestheticWeatherProtection</th>
                        <th>aestheticStreetFurniture</th>
                        <th>aestheticStreetscape</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].aestheticTrees %></td>
                            <td><%= research[counter].aestheticStreetLife %></td>
                            <td><%= research[counter].aestheticBuildingProximity %></td>
                            <td><%= research[counter].aestheticWeatherProtection %></td>
                            <td><%= research[counter].aestheticStreetFurniture %></td>
                            <td><%= research[counter].aestheticStreetscape %></td>
                      <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>servicesAccess</th>
                        <th>servicesGroceryProximity</th>
                        <th>servicesParkProximity</th>
                        <th>servicesHealthcare</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].servicesAccess %></td>
                            <td><%= research[counter].servicesGroceryProximity %></td>
                            <td><%= research[counter].servicesParkProximity %></td>
                            <td><%= research[counter].servicesHealthcare %></td>
                        <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section #</th>
                        <th>planningOCP</th>
                        <th>planningPedestrianPlan</th>
                        <th>planningMunicipalCommitees</th>
                        <th>planningEvents</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!--create a table row for each data section -->
                    <% for(var counter=0;counter<research.length;counter++){ %>
                        <tr>
                            <td><%= research[counter].section %></td>
                            <td><%= research[counter].planningOCP %></td>
                            <td><%= research[counter].planningPedestrianPlan %></td>
                            <td><%= research[counter].planningMunicipalCommitees %></td>
                            <td><%= research[counter].planningEvents %></td>
                        <td><a href="/data/edit/<%= research[counter]._id %>"><button class="btn btn-default">Edit</button></a></td>
							<td><a href="/data/delete/<%= research[counter]._id %>"><button class="btn btn-default">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>


        </section>
    </main>
    <aside id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <form action="/data/add" method="post">
                    <label for="section">Region number</label>
                    <input type="number" name="section" id="section" required>
                    <fieldset>
                        <legend>density</legend>

                        <label for="density">density</label>
                        <input type="range" min="1" max="3" value="1" name="density" id="density"><output></output>

                        <label for="zoning">zoning</label>
                        <input type="range" min="1" max="3" value="1" name="zoning" id="zoning"><output></output>

                        <label for="streetConnection">connecting streets</label>
                        <input type="range" min="1" max="3" value="1" name="streetConnection" id="streetConnection"><output></output>

                    </fieldset>
                    <fieldset>
                        <legend>Sidewalks</legend>

                        <label for="sidewalks">sidewalks</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalks" id="sidewalks"><output></output>

                        <label for="sidewalkWidth">sidewalk width</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalkWidth" id="sidewalkWidth"><output></output>

                        <label for="sidewalkBuffer">sidewalk buffer</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalkBuffer" id="sidewalkBuffer"><output></output>

                        <label for="sidewalkRamps">sidewalk ramps</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalkRamps" id="sidewalkRamps"><output></output>

                        <label for="sidewalkCondition">sidewalk conditions</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalkCondition" id="sidewalkCondition"><output></output>

                        <label for="sidewalkObstructions">sidewalk obstructions</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalkObstructions" id="sidewalkObstructions"><output></output>

                        <label for="sidewalkSnowfall">snow clearing</label>
                        <input type="range" min="1" max="3" value="1" name="sidewalkSnowfall" id="sidewalkSnowfall"><output></output>

                        <label for="crosswalks">crosswalks</label>
                        <input type="range" min="1" max="3" value="1" name="crosswalks" id="crosswalks"><output></output>

                        <label for="crosswalkSymbols">crosswalk symbols</label>
                        <input type="range" min="1" max="3" value="1" name="crosswalkSymbols" id="crosswalkSymbols"><output></output>


                    </fieldset>

                    <fieldset>
                        <legend>Cycling</legend>

                        <label for="cyclingLanes">Bike lanes</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingLanes" id="cyclingLanes"><output></output>

                        <label for="cyclingLanesNearest">nearest bike lane</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingLanesNearest" id="cyclingLanesNearest"><output></output>

                        <label for="CyclingRoadSafe">biking road safety</label>
                        <input type="range" min="1" max="3" value="1" name="CyclingRoadSafe" id="CyclingRoadSafe"><output></output>

                        <label for="cyclingLanesConnection">Bike lane connection to infrastructure</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingLanesConnection" id="cyclingLanesConnection"><output></output>

                        <label for="cyclingLanesSignage">Bike lane signage</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingLanesSignage" id="cyclingLanesSignage"><output></output>

                        <label for="cyclingLightsAccessability">Bike lane accessability</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingLightsAccessability" id="cyclingLightsAccessability"><output></output>

                        <label for="cyclingBikeRacks">Bike racks</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingBikeRacks" id="cyclingBikeRacks"><output></output>

                        <label for="cyclingBusBikeRack">Bike racks on busses</label>
                        <input type="range" min="1" max="3" value="1" name="cyclingBusBikeRack" id="cyclingBusBikeRack"><output></output>

                    </fieldset>

                    <fieldset>
                        <legend>Roads</legend>

                        <label for="roadTrafficFlow">traffic flow</label>
                        <input type="range" min="1" max="3" value="1" name="roadTrafficFlow" id="roadTrafficFlow"><output></output>

                        <label for="roadStreetWidth">street width</label>
                        <input type="range" min="1" max="3" value="1" name="roadStreetWidth" id="roadStreetWidth"><output></output>

                        <label for="roadOnStreetParking">on street parking</label>
                        <input type="range" min="1" max="3" value="1" name="roadOnStreetParking" id="roadOnStreetParking"><output></output>

                        <label for="roadTrafficCalming">traffic calming</label>
                        <input type="range" min="1" max="3" value="1" name="roadTrafficCalming" id="roadTrafficCalming"><output></output>

                        <label for="roadVehicleRestrictions">veihicle restrictions</label>
                        <input type="range" min="1" max="3" value="1" name="roadVehicleRestrictions" id="roadVehicleRestrictions"><output></output>

                    </fieldset>

                    <fieldset>
                        <legend>trails</legend>

                        <label for="trailPaths">paths</label>
                        <input type="range" min="1" max="3" value="1" name="trailPaths" id="trailPaths"><output></output>

                        <label for="trailsConnection">seperated paths</label>
                        <input type="range" min="1" max="3" value="1" name="trailsConnection" id="trailsConnection"><output></output>

                        <label for="trailSafety">trail safety</label>
                        <input type="range" min="1" max="3" value="1" name="trailSafety" id="trailSafety"><output></output>

                        <label for="trailSkateboard">skateboard access</label>
                        <input type="range" min="1" max="3" value="1" name="trailSkateboard" id="trailSkateboard"><output></output>

                    </fieldset>

                    <fieldset>
                        <legend>transit</legend>
                        
                        <label for="transitStops">Transit stops</label>
                        <input type="range" min="1" max="3" value="1" name="transitStops" id="transitStops"><output></output>

                        <label for="transitClosestStop"> closest Transit stop</label>
                        <input type="range" min="1" max="3" value="1" name="transitClosestStop" id="transitClosestStop"><output></output>

                        <label for="transitShelters">transit shelters</label>
                        <input type="range" min="1" max="3" value="1" name="transitShelters" id="transitShelters"><output></output>

                        <label for="transitRouteInfo">transit route information</label>
                        <input type="range" min="1" max="3" value="1" name="transitRouteInfo" id="transitRouteInfo"><output></output>

                    </fieldset>

                    <fieldset>
                        <legend>safety</legend>

                        <label for="safetyGeneralSafety">general safety</label>
                        <input type="range" min="1" max="3" value="1" name="safetyGeneralSafety" id="safetyGeneralSafety"><output></output>

                        <label for="safetyVacantBuildings">vacant buildings</label>
                        <input type="range" min="1" max="3" value="1" name="safetyVacantBuildings" id="safetyVacantBuildings"><output></output>

                        <label for="safetyPersonsWatching">Eyes watching (people outside)</label>
                        <input type="range" min="1" max="3" value="1" name="safetyPersonsWatching" id="safetyPersonsWatching"><output></output>

                    </fieldset>

                    <fieldset>
                        <legend>Asthetics</legend>

                        <label for="aestheticTrees">ammount of trees</label>
                        <input type="range" min="1" max="3" value="1" name="aestheticTrees" id="aestheticTrees"><output></output>

                        <label for="aestheticStreetLife">street life</label>
                        <input type="range" min="1" max="3" value="1" name="aestheticStreetLife" id="aestheticStreetLife"><output></output>

                        <label for="aestheticBuildingProximity">building proximity to sidewalk</label>
                        <input type="range" min="1" max="3" value="1" name="aestheticBuildingProximity" id="aestheticBuildingProximity"><output></output>

                        <label for="aestheticWeatherProtection">weather protection</label>
                        <input type="range" min="1" max="3" value="1" name="aestheticWeatherProtection" id="aestheticWeatherProtection"><output></output>

                        <label for="aestheticStreetFurniture">street furniture</label>
                        <input type="range" min="1" max="3" value="1" name="aestheticStreetFurniture" id="aestheticStreetFurniture"><output></output>

                        <label for="aestheticStreetscape">streetscape</label>
                        <input type="range" min="1" max="3" value="1" name="aestheticStreetscape" id="aestheticStreetscape"><output></output>
                        
                    </fieldset>

                    <fieldset>
                        <legend>services</legend>

                        <label for="servicesAccess">access to basic services</label>
                        <input type="range" min="1" max="3" value="1" name="servicesAccess" id="servicesAccess"><output></output>

                        <label for="servicesGroceryProximity">access to grocery stores</label>
                        <input type="range" min="1" max="3" value="1" name="servicesGroceryProximity" id="servicesGroceryProximity"><output></output>

                        <label for="servicesParkProximity">access to parks and schools</label>
                        <input type="range" min="1" max="3" value="1" name="servicesParkProximity" id="servicesParkProximity"><output></output>

                        <label for="servicesHealthcare">access to health care</label>
                        <input type="range" min="1" max="3" value="1" name="servicesHealthcare" id="servicesHealthcare"><output></output>

                    </fieldset>

                    <fieldset>
                        <legend>planning</legend>

                        <label for="planningOCP">area’s Official Community Plan (OCP) address active transportation and the built environment</label>
                        <input type="range" min="1" max="3" value="1" name="planningOCP" id="planningOCP"><output></output>

                        <label for="planningPedestrianPlan">does a pedestrian plan exist</label>
                        <input type="range" min="1" max="3" value="1" name="planningPedestrianPlan" id="planningPedestrianPlan"><output></output>

                        <label for="planningMunicipalCommitees">are there local commitees</label>
                        <input type="range" min="1" max="3" value="1" name="planningMunicipalCommitees" id="planningMunicipalCommitees"><output></output>

                        <label for="planningEvents">are there events in the area</label>
                        <input type="range" min="1" max="3" value="1" name="planningEvents" id="planningEvents"><output></output>

                    </fieldset>
                   <br>
                     <button class="btn btn-default">Add Data Value</button>
                </form>
            </div>
        </aside>
</div>
<script>
    //store input elements into an array and check for range attribute so events can be made to update the output giving users a visual token for value
        var inputs = document.getElementsByTagName('input');
        for(var counter=0;counter<=inputs.length;counter++){
            //check if input is a  slider
            if(inputs[counter].getAttribute('type')==='range'){
                // run function to set initial value
                sliderValue(inputs[counter]);
                //update value on change
                inputs[counter].addEventListener('change', function(){
                    sliderValue(this);
                })

            }
        }

        //add script for updating an output that will show value of range slider
        function sliderValue(input){
            input.nextSibling.innerHTML=input.value;
        }
</script>
<%- include partials/footer %>
